<% for(var i = 0; i < bottlenecks.length; i++){%>
<tr>
    <td> <%=bottlenecks[i].code%> </td>
    <td> <%=bottlenecks[i].date%> </td>
    <td> <%=bottlenecks[i].dniManager%> </td>
    <td> <%=bottlenecks[i].reason%> </td>
    <td> <%=bottlenecks[i].lot%> </td>
    <td> <%=bottlenecks[i].section%> </td>
    <td> <%=bottlenecks[i].hourBegin%> </td>
    <td> <%=bottlenecks[i].hourFinal%> </td>
    <td> 
        <a href="/update-bottleneck?code=<%=bottlenecks[i].code%>" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </a>
        <a href="#" class="btn border-shadow delete" data-code=<%=bottlenecks[i].code%>>
            <span class="text-gradient">
                <i class="fas fa-times"></i>
            </span>
        </a>
    </td>
</tr>
<% } %>